.footer {
    background-color: @gray;
    color: @black;
    font-size: 0.75rem;
    padding-top: 5rem;
    padding-right: 3.75rem !important;
    padding-bottom: 2rem;
    padding-left: 3.75rem !important;

    &__top {
        padding-bottom: 2.25rem;
    }

    &__bottom {
        padding-top: 2.5rem;
    }

    &__link {
        color: inherit;
    }

    &__icon {
        margin-right: 0.5rem;
    }
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.25rem;
    height: 2rem;
    margin-right: 0.75rem;
    background-color: @white;

    &__logo {
        display: block;
        margin: auto;
    }
}

.social {
    margin-right: 5rem;

    &__icon {
        margin-right: 1.25rem;
    }
}