.navi {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    &__link {
        color: @black;
        padding: 0 0.75rem;

        &--red {
            color: @red;
        }
    }

    &__btn {
        background-color: @gray;

        &:hover {
            background-color: darken(@gray, 15%);
        }

        &:active,
        &:focus {
            background-color: darken(@gray, 30%) !important;
        }
    }

    &__search {
        background-color: @white;

        &:focus-within {
            box-shadow: 0 0 0 .25rem @focus-blue;
            transition: box-shadow .15s ease-in-out;
        }
    }

    &__search-input {
        font-size: 0.75rem;

        &:focus {
            box-shadow: none;
        }
    }
}