.navi {
    &__link {
        color: @black;
        padding: 0 0.75rem;

        &--red {
            color: @red;
        }
    }

    &__btn {
        background-color: @gray;

        &:hover {
            background-color: darken(@gray, 10%);
        }
    }

    &__search {
        background-color: @white;

        &:focus-within {
            box-shadow: 0 0 0 .25rem @focus-blue;
            transition: box-shadow .15s ease-in-out;
        }

        &-input {
            font-size: 0.75rem;

            &:focus {
                box-shadow: none;
            }
        }
    }
}