@white: #FFFFFF;
@black: #292929;
@gray: #F6F6F6;
@blue: #0068FF;
@red: #C40837;
@magenta: #A70584;
@green: #36B588;

@focus-blue: rgba(13, 110, 253, .25);
@focus-white: rgba(255, 255, 255, .5);

@autofill: #E6F0FF;

@banner-text: #EEEEEE;

@radial-gradient: radial-gradient(50% 50% at 50% 50%, rgba(168, 168, 168, 0.2925) 0%, rgba(45, 45, 45, 0.3575) 100%);